@font-face {
    font-family: swbtFont;
    src: url(/fonts/Parisine_Bold.otf);
  }

a {
    text-decoration: none;
    color: inherit
}

.swbt-font{
    font-family: swbtFont;
}


.selected-nav{
    background-color: #99cc33;
}
